.questionnaire {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .tableOfContents {
    margin-left: 16px;
    .tableOfContentsTitle {
      font-weight: 600;
    }

    .tableOfContentsList {
      list-style: none;
      padding: 0;

      & li {
        cursor: pointer;
        margin: 4px 0;
        padding: 4px;
        transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        min-width: 150px;

        &:hover {
          border-radius: 5px;
          background-color: #10124a;
          color: #fff;
        }

        &::before {
          content: '> ';
        }
      }
    }
  }

  .navigationButton {
    cursor: pointer;
    border: none;
    margin: 8px 24px 8px 0;
    padding: 8px 24px;
    background-color: #fff;
    color: #10124a;
    font-weight: bold;
  }

  .submitButton {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 8px 24px 8px 0;
    padding: 8px 24px;
    background-color: #10124a;
    color: #fff;
  }
}
