.navbar {
  padding: 16px;
  margin: 0;
  background-color: #10124a;

  & ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      margin-right: 12px;
      text-align: left;

      & a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
      }
    }
  }
}
